<h1> Nathan Yuchi </h1>
<img src='me.jpg' alt="me">
<p id='origin'> Maryland </p>
<p id='year'> Sophomore </p>
<p id='fact'> I am double jointed </p>
<p id='excite'>
  Excited to learn ruby on rails because I never took any web dev related coures. <br>
  Did CalHacks as a freshman and couldn't figure out frameworks
</p>
